.Radio_btn_block_header {
  color: #fff;
  font-size: 16px;
  margin-left: 39px;
  font-weight: 800;
  font-family: "Merriweather";
  margin-bottom: 0px;
}

.Radio_btn_block_header span {
  color: #d40000;
  font-size: 20px;
}

.Radio_btn_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7px 0 7px 72px;
}

.Input_for_radio_button {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}

.Input_for_radio_button span {
  color: #fff;
}

@media (max-width: 260px) {
  .Radio_btn_block_header {
    margin-left: 29px;
  }

  .Radio_btn_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7px 0 7px 24px;
  }
}

@media (min-width: 260px) and (max-width: 340px) {
  .Radio_btn_block_header {
    margin-left: 29px;
  }

  .Radio_btn_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7px 0 7px 24px;
  }
}
